[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pelican = "==4.5.0"
Markdown = "==3.2.2"
invoke = "==1.4.1"
pillow = "==8.2.0"
pygithub = "==1.53"

[dev-packages]
pylint = "==2.6.0"

[scripts]
build = "invoke build"
buildWin = "invoke buildWin"
serve = "python -m http.server --directory output"

[requires]
python_version = "3.7"
