[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pelican = ">=3.7.1"
pelican-githubprojects = ">=0.1.1"
pelican-gist = ">=0.3.3"
Markdown = ">=2.6.11"
invoke = "*"
pillow = "*"

[dev-packages]

[scripts]
download-theme = "git clone -b master --single-branch 'https://github.com/ELC/MinimalXYZ.git' theme"
download-content = "git clone -b master --single-branch 'https://github.com/ELC/elc.github.io-content.git' aux"
move-content = "cp -r aux/. content"
copy-extra = "cp -r extra/. content/extra/"
build = "pelican -s conf.py -o output -t theme content"


copy-windows-theme = 'xcopy /E /I /Y /Q "D:\Repositories\personal\MinimalXYZ" theme\ '
copy-windows-content = 'xcopy /E /I /Y /Q "D:\Repositories\personal\elc.github.io-content" content\ '
move-windows-content = 'xcopy /E /I /Y /Q extra content\extra '


test = 'pelican -s conf.py -o output -t theme content'
test-theme = "pelican -s conf.py -o output -t theme-dev content"


[requires]
python_version = "3.6"
